::root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1;
}
