
* {
  box-sizing: border-box;
}

:root {
  --dark-violet: hsl(256, 26%, 20%);
  --greyish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}


body {
  margin: 0;
  padding: 0;
  color: var(--dark-violet);
}

h1, h2, h3 {
  font-family: sans-serif;
}

h1, h2 {
  font-size: 4em;
  position: relative;
  letter-spacing: 2px;
  line-height: 1;
  padding-top: 50px;
}

h3 {
  font-size: 2.5em;
}

p {
  opacity: 0.8;
  letter-spacing: 0.5px;
  /* font-size: 18px; */
}

.line-top::before {
  content: '';
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 150px;
}

.line-violet::before {
  background-color: var(--dark-violet);
}

h2::before {
  background-color: var(--dark-violet); 
}
.btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 25px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-reverse {
  border-color: var(--dark-violet);
  color: var(--dark-violet);
}

.container {
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 1200px; 
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex > div {
  flex: 1;
}

.align-start {
  align-items: flex-start;
}


 /* Nav styling  */

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;;
}

nav li {
  margin-left: 30px;
}

nav li a {
  color: var(--dark-grayish-violet);
  text-transform: uppercase;
  text-decoration: none;
}
 /*Header styling */
header {
  background-color: var(--dark-violet);
  color: #fff;
  padding: 50px 0;
  position: relative;
  margin-bottom: 250px;
}

header::after {
  content: '';
  background-image: url('./images/bg-pattern-intro-right-desktop.svg');
  position: absolute;
  background-position: top right;
  background-repeat: no-repeat;
  top: 50px;
  right: 0;
  height: 100%;
  width: 100%;
}

header::before {
  content: '';
  background-image: url('./images/bg-pattern-intro-left-desktop.svg');
  position: absolute;
  background-position: bottom left;
  background-repeat: no-repeat;
  bottom: -40%;
  left: 0;
  height: 100%;
  width: 100%;
}

.family-image {
  margin-bottom: -250px;
}

 /*Section styling */
.bg-violet {
  background-color: var(--dark-violet);
  color: #fff;
  padding: 70px;
  position: relative;
  margin: 100px auto;
}

.bg-violet::before {
  content: '';
  background-image: url('./images/bg-pattern-how-we-work-desktop.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50% 100%;
  position: absolute; 
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.bg-violet h2 {
  color: #fff;
  font-size: 3em;
  padding: 0;
  width: 75%;
}

.title {
  margin-top: 80px;
}

 /*footer styling */
footer {

}